/*General parameters*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/*Typography*/
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  color: black;
}
h1 {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  font-size: 3.2em;
  font-weight: 600;
}
h2,
h3 {
  font-size: 2.7em;
  margin-left: 3.5rem;
}
.huddle__para {
  font-size: 1.8em;
  font-weight: 500;
  color: black;

  line-height: 1.6;
  border-right: 0;
  margin-bottom: 4.5rem;
}
.text__para {
  color: var(--color-paragraph);
  font-size: 2em;

  margin-left: 3.7rem;
  line-height: 2.5rem;
}
.build--header {
  font-size: 2.6em;
  text-align: center;

  margin: 0.4rem 0.4rem;
  margin-bottom: 0.2rem;
  margin-top: 6rem;
}

.huddle__right {
  margin-bottom: 6rem;
}
@media screen and (min-width: 900px) {
  h1 {
    max-width: 75%;
    font-size: 3.7em;
  }
  .text__para {
    font-size: 1.7em;
  }
  .huddle__para {
    max-width: 86%;
  }
}
/*color pallete*/
:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-headings: black;
  --color-paragraph: hsl(208, 11%, 55%);
  --color-fotter: hsl(192, 100%, 9%);
  --color-background: hsl(193, 100%, 96%);
  --color-white: #fff;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*huddle section */
.huddle {
  background: url(images/bg-hero-mobile.svg);
  margin-bottom: 10rem;
}
.color {
  background-color: hsl(193, 100%, 96%);
}
.huddle-community {
  margin: 1rem 7rem;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 4 rem;
  width: auto;
  transform: scale(0.9);
}
.logo {
  width: fit-content;
  margin-top: 4rem;
}

.grid1x2 {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
@media screen and (min-width: 900px) {
  .huddle {
    background: url(images/bg-hero-desktop.svg);
    background-size: contain;
  }
  .color {
    background-color: hsl(193, 100%, 96%);
  }
  .grid1x2 {
    display: grid;
    grid-template-columns: 45% 55%;
  }
}

.huddle__left {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .huddle__left {
    text-align: left;
  }
}

/*buttons*/
.btn {
  border-radius: 3rem;
  border: 0;

  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  outline: 0;
  overflow: hidden;
  padding: 1.4rem 2rem;
}
.btn:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}

.btn--try {
  background-color: var(--color-white);
  color: black;
  margin: 4rem 0;
  width: 19rem;
  transition: all 0.5s;
}
.btn--try:hover {
  color: white;
}

.btn--try:hover {
  background-color: rgb(35, 252, 252);
}
.btn--start {
  background-color: var(--color-pink);
  color: var(--color-white);

  padding: 1.8rem 7rem;
  margin-bottom: 5rem;
  text-align: center;
}
.btn--start:hover {
  background-color: hsl(0, 33%, 1%);
}

.btn__build {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
@media screen and (min-width: 900px) {
  .btn--start {
    margin-bottom: 2rem;
  }
  .btn__build {
    transform: scale(1.1);
  }
  .btn__build:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 500px) {
  .btn--try {
    background-color: rgb(143, 248, 248);
    color: black;
    margin: 1.3rem 0;
    width: 12rem;
  }
}
/*card section*/
.card {
  background-color: #fff;
}
.card--grid {
  display: grid;
  grid-template-rows: repeat(2, 30rem);
  row-gap: 5rem;

  justify-items: center;
  align-content: center;
  align-items: center;

  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1); /*9px for distribution and 0.1 for intensity color....0 0 0 color type rgba*/
  margin: 4rem 4rem;
}
.picture {
  margin: 6rem 6rem;
  margin-top: 14rem;
}
.text {
  text-align: center;
  margin: 3rem 3rem;
}

.text__header {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .card--grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 40rem);
    margin: 4rem 4rem;
  }
  .last-grid {
    margin-bottom: 0;
  }
  .text {
    align-self: center;
    padding: 0 5rem;
    text-align: left;
  }
  .card--grid:nth-of-type(odd) .picture {
    /*it means that starting from the first of card section -card grid 1[odd] then changing the picture order to 1 ..since order starts from 0*/
    order: 1;
  }

  .picture > img {
    transform: scale(0.75);
    height: 100%;
    object-fit: cover;
    margin-left: 10rem;
    margin-bottom: 5rem;
  }
}
/**Callout section**/

.build--box {
  padding: 1rem 2rem;
  margin: 0 2rem;
  background-color: #fff;
  text-align: center;

  border-radius: 1.4rem;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);

  position: relative;
  top: 7rem;
}
@media screen and (min-width: 900px) {
  .callout {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .build--box {
    margin: 0 25vw;
    padding: 2rem 8rem;
    top: 15rem;
  }
}
/*footer section*/
.footer {
  background: var(--color-fotter);
  padding-bottom: 7rem;
}
.grid1x4 {
  display: grid;
  grid-template-rows: (10rem 10rem);
  font-size: 1.8rem;
}
li {
  width: fit-content;
  max-width: 40ch;
  line-height: 40px;
}
li > a {
  list-style: none;
  color: rgb(255, 238, 238);
  text-decoration: none;
}
li > a:hover {
  color: hsl(322, 100%, 66%);
  transform: scale(1.1);
  transition: all 0.4s;
}
.list__one {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.icon__image {
  width: 20px;
  height: 20px;
  object-fit: contain; /*to allow icons fit properly*/
}
.icon__location {
  position: relative;
  bottom: 1.8rem;
}
.logo__footer {
  width: auto;
  margin-left: 2rem;
  margin-top: 2rem;
  position: relative;
  right: 4rem;
  transform: scale(0.8);
}

/*grid one*/
.first__box {
  margin-top: 8rem;
}
.main__list {
  list-style: none;
  color: rgb(255, 238, 238);
  transform: scale(1.1);
}
.first__list {
  line-height: 3rem;
}
.last__list {
  position: relative;
  bottom: 2.5rem;
}
@media screen and (min-width: 900px) {
  .last__list {
    bottom: 4rem;
  }
  .first__list {
    line-height: 2rem;
  }
}
/*social media tag*/
.copyright {
  color: rgb(247, 232, 232);
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.social {
  text-align: center;
}
.social__image {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  margin: 1rem;
}
@media screen and (min-width: 900px) {
  .copyright {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 900px) {
  .grid1x4 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-items: center;
    font-size: 1.3rem;

    margin: 8rem 10rem;
    margin-bottom: 0;
  }
  .social {
    text-align: left;
    transform: scale(0.5);
    position: relative;
    right: 4rem;
  }
  .copyright {
    position: relative;
    top: 20rem;
    width: 40rem;
  }
  .last__list {
    bottom: 0;
    right: 8rem;
  }
  .list {
    margin-left: 10rem;
    margin-top: 7rem;
    transform: scale(1.1);
  }
}
