<div class="grid1x2 grid--card">
  <div class="text card__text">
    <h2 class="card__header">Grow Together</h2>
    <p class="card__paragraph">
      Generate meningfull discussion with your audience and build strong ,loyal
      community. think of insightfull conversations you miss out on a feedback
      form.
    </p>
  </div>
  <div class="card__pic">
    <img
      class="pictures"
      src="../images/illustration-grow-together.svg"
      alt=""
    />
  </div>
</div>

<div class="grid1x2 grid--card">
  <div class="text card__text flow__text">
    <h2 class="card__header">Flowing Conversation</h2>
    <p class="card__paragraph">
      You wouldn't paginate a conversation in real life, so why do it online .
      our threads have just-in-time loading for a more natural flow.
    </p>
  </div>
  <div class="card__pic">
    <img
      class="pictures"
      src="../images/illustration-flowing-conversation.svg"
      alt=""
    />
  </div>
</div>

<div class="grid1x2 grid--card">
  <div class="text card__text">
    <h2 class="card__header">Your Users</h2>
    <p class="card__paragraph">
      It takes no time at all to integrate Huddle with Your app's authentication
      solution. this means once signed in to your app, users can start chat
      immedietly.
    </p>
  </div>
  <div class="card__pic">
    <img class="pictures" src="../images/illustration-your-users.svg" alt="" />
  </div>
</div>
