<div class="grid1x2">
  <div class="text hero--text">
    <h1 class="hero__header">Build The Community Your Fans Will Love</h1>
    <p class="hero__paragraph">
      Huddle re-imagines the way we build communities.You have a voice , but so
      does your audience. Create connections with your users as you engage in
      genuine discussion.
    </p>
    <button class="btn btn--secondary">
      <a href="#">Get Started for free</a>
    </button>
  </div>
  <div>
    <img class="pictures" src="../images/illustration-mockups.svg" alt="" />
  </div>
</div>
